/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body{
    background-color: rgb(213, 189, 157);
}
.boton-login{
    border: 2px solid #c1a581;
    background-color: darkkhaki;
    border-radius: 10px;
    color: black;
    font-weight: 500;
    font-size: 17px;
    text-transform: capitalize;
}
