/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.form{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 30%;
    margin: auto;
}
.form-label{
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: start;
}
.btn-sub{
    background-color: rgb(66, 135, 66);
}