.formulario{
    padding: 20px;
    display: grid;
    justify-content: center;
    width: 50%;
    height: auto;
    margin: 18% auto;
    background: rgb(213, 189, 157);
}
.acceso{
    margin: 10px;
    font-family: monospace;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}
.form-login{
    padding: 10px;
}
.acceder{
    border: none;
    background-color: darkkhaki;
    border-radius: 10px;
    color: black;
    font-weight: 500;
    font-size: 17px;
    text-transform: capitalize;
    padding: 5px;
}
.cont-acceso{
    display: grid;
}
.redireccion{
    text-align: center;
}
.form-info{
    width: 100%;
    margin: 0 auto 10px;
    border-radius: 10px;
    border: none;
    padding: 5px;
}
.registro-cuenta{
    display: grid;
    justify-content: center;
    margin-top: 30px;
}
.aviso{
    margin: 0;
    font-family: monospace;
    font-size: 15px;
}
.registrate{
    border: none;
    background-color: darkkhaki;
    border-radius: 10px;
    color: black;
    font-weight: 500;
    font-size: 17px;
    text-transform: capitalize;
    padding: 5px;
}