.registro{
    margin: 10px;
    font-family: monospace;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}
.form-register{
    padding: 10px;
}
.cont-registro{
    display: grid;
}
.registrate{
    border: none;
    background-color: darkkhaki;
    border-radius: 10px;
    color: black;
    font-weight: 500;
    font-size: 17px;
    text-transform: capitalize;
    padding: 5px;
    margin-top: 20px;
}